<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
     content must come *after* these tags -->
    <title>Sell on Credit</title>
    <!-- Bootstrap -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../node_modules/bootstrap/dist/css/bootstrap-social.css" rel="stylesheet">
    <link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/stylesheets/mystyles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-3 col-sm-3"></div>
                <div class="col-xs-6 col-sm-6">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2"></div>
                        <div class="col-xs-9 col-sm-9">
                            <h1>Sell on Credit</h1>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-1 col-sm-1"></div>
                            <div class="col-xs-11 col-sm-11">
                                <p>The biggest goal is make you never forget what you sold and for who, so what are you waiting to sell much more?</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row row-content">
          <div class="col-lg-5 col-md-5"></div>
          <div class="col-lg-3 col-md-3">
                <div class="btn-group-vertical" role="group" aria-label="...">
                        <button type="button" class="btn facebook-button">LOG IN WITH FACEBOOK</button>
                        <button type="button" class="btn google-button">LOG IN WITH GOOGLE+</button>
                </div>
          </div>
        </div>

        <div class="row row-content">
                <div class="col-xs-3 col-sm-3"></div>
                <div class="col-xs-6 col-sm-6">
                    <hr class="custom-divider">
                    <p class="custom-text">OR</p>

                    <form>
                            <div class="form-group">
                              <label for="emailAddress">Email address</label>
                              <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-success">LOG IN</button>
                    </form>
                </div>
        </div>

        <div class="row row-content">
                <div class="col-lg-12 col-md-12">
                    <p align="center">Don't have an account? <a class="green-color">Sign Up</a></p>
                </div>
        </div>
    </div>

    

    <footer>
        <div class="container">
            <div class="row row-footer">
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align="center">Copyright 2017 Sell on Credit</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body></html>
